[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "bootstrap-material-design"]
	path = bootstrap-material-design
	url = git@github.com:FezVrasta/bootstrap-material-design
